<%- include('./partials/head')%>

  <body class="login-body">
    <section class="login-form">
      <h1>Inicia sesión</h1>
      <form action="/" method="POST">
        <input type="email" name="email" placeholder="Email" class="email">
        <input type="password" name="password" placeholder="Password" class="pass">
        <input type="submit" value="Entrar" class="btn-login">
      </form>
    </section>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert !='undefined') {%> 
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer:'<%= timer %>',
        }).then(()=>{
          window.location='/<%=ruta%>'
        })
      </script>
      <%}%>
  </body>
