<%- include('./partials/head')%>

  <body class="body-register">

    <div class="register-form">

      <h1>Sign Up</h1>

      <form action="/register" method="post">

        <div class="input-register">

          <div class="input">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" class="email">
          </div>

          <div class="input">
            <i class="fa-solid fa-user"></i>
            <input class="user" name="username" type="text" placeholder="Username" />
          </div>


          <div class="input">
            <i class="fa-solid fa-user"></i>
            <input class="username" name="name" type="text" placeholder="Name" />
          </div>

          <div class="input">
            <i class="fa-solid fa-user"></i>
            <input class="username" name="lastname" type="text" placeholder="Lastname" />
          </div>

          <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" placeholder="Password" class="pass">
          </div>

          <input type="submit" value="Registrar" class="btn-login">

          <p>¿Ya tienes una cuenta? <a href="/">Inicia sesión aquí</a></p>
        </div>
      </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert !='undefined' ) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButton: '<%= showConfirmButton %>',
          timer: '<%= timer %>',
        }).then(() => {
          window.location = '/<%= ruta %>';
        });
      </script>
      <% } %>

  </body>